<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="" style="width: 150px;">
      
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle" style="font-size: 25px;margin-right: 8px;"></i>
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ userName }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6></h6>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" href="/logout" (click)="logout()">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Logout</span>
                </a>
              </li>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

   


      
      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/direktor/njegovatelji-direktor">
          <i class="bi bi-person"></i>
          <span>Njegovatelji</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/direktor/aktuelnosti-direktor">
            <i class="bi bi-bell"></i>
          <span>Aktuelnosti</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/direktor/djeca-direktor">
            <i class="bi bi-clipboard"></i>
          <span>Djeca</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/direktor/donacije-direktor">
            <i class="bi bi-cash-stack"></i>
          <span>Donacije</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/direktor/pravilnici-direktor">
            <i class="bi bi-clipboard"></i>
          <span>Pravilnici</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/direktor/izvjestaji-direktor">
            <i class="bi bi-clipboard"></i>
          <span>Izvještaji</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/direktor/sporazumi-direktor">
            <i class="bi bi-clipboard"></i>
          <span>Sporazumi</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/direktor/nabavke">
            <i class="bi bi-clipboard"></i>
          <span>Javne nabavke</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span><a href="/logout" (click)="logout()">Logout</a></span>
        </a>
      </li><!-- End Login Page Nav -->



    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
          <div class="container-xl">
            <div class="table-responsive">
              <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div class="col-sm-6">
                      <h2><b>Pravilnici</b></h2>
                    </div>
                    <div class="col-sm-6"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Dodavanje novog regulativa za admina -->
        <div *ngIf="isLoggedIn && userRole === 'director'">
          <button type="button" class="btn btn-primary" (click)="openModal()" style="background-color: #e91e63;border-color:#e91e63;">
           Dodaj dokument
          </button>
      
          <!-- Modal za dodavanje regulativa -->
          <div id="regulationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="regulationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form (ngSubmit)="uploadRegulation()">
                  <div class="modal-header">
                    <h4 class="modal-title">Dodaj dokumnet</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="title">Naziv</label>
                      <input id="title" type="text" class="form-control" [(ngModel)]="regulationTitle" name="title" required />
                    </div>
                    <div class="form-group">
                      <label for="file">File</label>
                      <input id="file" type="file" class="form-control" (change)="onFileChange($event)" required />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                    <button type="submit" class="btn btn-primary" style="background-color: #e91e63;border:#e91e63">Dodaj</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
      
          <!-- Tabela regulativa -->
          <div *ngIf="regulations.length > 0">
            <table class="table table-striped table-hover" style="margin-top: 50px;margin-bottom:100px">
              <thead style="font-size: 14px;">
                <tr>
                  <th>Naziv</th>
                  <th>Putanja dokumneta</th>
                  <th>Datum učitavanja</th>
                  <th></th>
                </tr>
              </thead>
              <tbody style="font-size: 13px;">
                <tr *ngFor="let regulation of regulations">
                  <td>{{ regulation.title }}</td>
                  <td><i class="bi bi-filetype-pdf" style="color: #e91e63;font-size:18px"></i> {{ regulation.file_path }}</td>
                  <td>{{ regulation.upload_date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                  <td style="text-align: center; vertical-align: middle;">
                    <button style="border: none;background-color: transparent;">  <a href="#" class="edit" data-toggle="modal" (click)="openEditModal(regulation)">
                        <i class="bi bi-pencil-square" data-toggle="tooltip" title="Edit" style="font-size: 15px;"></i>
                      </a></button>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
        <!-- Modal za uređivanje regulativa -->
        <div class="modal fade" id="editRegulationModal" tabindex="-1" role="dialog" aria-labelledby="editRegulationModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editRegulationModalLabel">Uredi dokument</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="updateRegulation()">
                  <div class="form-group">
                    <label for="editRegulationTitle">Title</label>
                    <input type="text" id="editRegulationTitle" [(ngModel)]="selectedRegulation.title" name="title" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label for="editRegulationFile">File</label>
                    <input type="file" id="editRegulationFile" (change)="onFileChange($event)" class="form-control" />
                  </div>
                  <button type="submit" class="btn btn-primary" style="background-color: #e91e63;border:#e91e63">Spremi</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
              </div>
            </div>
          </div>
        </div>
      

      </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Dom za djecu bez roditeljskog staranja</span></strong>. All Rights Reserved
    </div>
    <div class="credits">

      Designed by <a href="#">Fatima i Faris</a>
    </div>
  </footer><!-- End Footer -->