<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <img src="assets/img/logo.png" alt="" class="img-fluid" style="width: 200px;height: 500px;position:center;">
        </div>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/home">Početna</a></li>
            <li class="dropdown"><a href="#"><span>O nama</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/onama">O domu</a></li>
                <li><a href="/menadzment">Menadžment</a></li>
                <li><a href="/prikaz-nabavke">Javne nabavke</a></li>
                <li><a href="/donatori">Donatori</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="/galerija">Galerija</a></li>
            <li><a class="nav-link scrollto" href="/prikaz-aktuelnosti">Aktuelnosti</a></li>
            <li><a class="nav-link scrollto" href="/kontakt">Kontakt</a></li>
            
            <!-- Prikazivanje linkova na osnovu prijave -->
            <li *ngIf="!isLoggedIn"><a class="nav-link scrollto" href="/login">Login</a></li>
            <li *ngIf="!isLoggedIn"><a class="getstarted scrollto" href="/register" style="background-color: #e91e63;">Signup</a></li>
            
            <!-- Meni koji se prikazuje nakon prijave -->
            <li *ngIf="isLoggedIn" id="profile-link" class="dropdown">
              <a href="#"><i class="bi bi-person-circle" style="font-size: 25px;margin-right: 8px;"></i><span>{{ userName }}</span> <i class="bi bi-chevron-down" style="  margin-right: 10px;"></i></a>
              <ul>
                <li><a href="/profile">Moj Profil</a></li>
                <li><a href="/moje-donacije">Moje Donacije</a></li>
                <li><a href="/logout" (click)="logout()">Logout <i class="bi bi-box-arrow-in-right" style="font-size: 15px;"></i></a></li>
              </ul>
            </li>
          </ul>
          <i id="mobile-nav-toggle" class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        
      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->
  <div class="page-title dark-background" data-aos="fade" >
    <div class="container position-relative">

      <nav class="breadcrumbs">
        <ol>
          <li><a href="/home" style="color: #e91e63;;">Početna</a></li>
          <li class="current" style="color: white;">Kontakt</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->
        <!-- Contact Section -->
        <section id="contact" class="contact section">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2 style="font-family: Edwardian Script ITC;color: #e91e63;">Kontakt</h2>
            <p>Ukoliko imate dodatnih pitanja možete nas kontaktirati putem mail-a.</p>
          </div><!-- End Section Title -->
        
          <div class="container" data-aos="fade-up" data-aos-delay="100" style="padding-bottom: 70px;">
        
            <div class="row gy-4">
        
              <div class="col-lg-5">
                <div class="info-wrap">
                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                      <h3>Adresa</h3>
                      <p>Garavice bb, Bihać 77000</p>
                    </div>
                  </div><!-- End Info Item -->
        
                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                      <h3>Kontakt</h3>
                      <p>+387 37 319 159</p>
                    </div>
                  </div><!-- End Info Item -->
        
                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                      <h3>Email</h3>
                      <p>childfund&#64;gmail.com</p>
                    </div>
                  </div><!-- End Info Item -->
        
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d180892.18741777196!2d15.7587161!3d44.8940354!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4761414ab64c93a1%3A0x9cd7e1314fcd508!2sDom%20za%20nezbrinutu%20djecu%20Garavice!5e0!3m2!1shr!2sba!4v1720357325524!5m2!1shr!2sba" width="430" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
        
              <div class="col-lg-7">
                <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                  <div class="row gy-4">
        
                    <div class="col-md-6">
                      <label for="name-field" class="pb-2">Vaše ime</label>
                      <input type="text" name="name" id="name-field" class="form-control" [(ngModel)]="contact.name" required>
                    </div>
        
                    <div class="col-md-6">
                      <label for="email-field" class="pb-2">Vaš email</label>
                      <input type="email" class="form-control" name="email" id="email-field" [(ngModel)]="contact.email" required>
                    </div>
        
                    <div class="col-md-12">
                      <label for="subject-field" class="pb-2">Subjekt</label>
                      <input type="text" class="form-control" name="subject" id="subject-field" [(ngModel)]="contact.subject" required>
                    </div>
        
                    <div class="col-md-12">
                      <label for="message-field" class="pb-2">Poruka</label>
                      <textarea class="form-control" name="message" rows="10" id="message-field" [(ngModel)]="contact.message" required></textarea>
                    </div>
        
                    <div class="col-md-12 text-center">
                      <div id="successMessage" class="alert" style="display: none;"></div>
                      <button type="submit">Pošalji</button>
                    </div>
        
                  </div>
                </form>
              </div><!-- End Contact Form -->
        
            </div>
        
          </div>
        
        </section><!-- /Contact Section -->
        

  
  
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Navigacija</h4>
          <ul>
            <li><a href="/home">Početna</a></li>
            <li><a href="/galerija">Galerija</a></li>
            <li><a href="/prikaz-aktuelnosti">Aktuelnosti</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>O nama</h4>
          <ul>
            <li><a href="/onama">O domu</a></li>
            <li><a href="/menadzment">Menadžment</a></li>
            <li><a href="/prikaz-nabavke">Javne nabavke</a></li>
            <li><a href="/donatori">Donatori</a></li>
      
          </ul>
        </div>
        <div class="footer-col">
          <h4>Propisi</h4>
          <ul>
            <li><a href="/prikaz-pravilnici">Pravilnici</a></li>
            <li><a href="/prikaz-izvjestaji">Izvještaji i planovi</a></li>
            <li><a href="/prikaz-sporazumi">Sporazumi o saradnji</a></li> 
          </ul>
        </div>
        <div class="footer-col">
          <h4>Društvene mreže</h4>
          <div class="social-links">
            <a href="#"><i class="bi bi-facebook" ></i></a>
                  <a href="#"><i class="bi bi-instagram" ></i></a>
                  <a href="#"><i class="bi bi-envelope" ></i></a>
                  <a href="#"><i class="bi bi-twitter" ></i></a>
          </div>
        </div>
      </div>
    </div>


 </footer>
 <div class="footerBottom">
  <p>Pravila privatnosti / &copy; JU Dom za djecu bez roditeljskog staranja USK-a</p>
</div>






